section {
    margin-top: 0;
    display: flex;
    div:last-child{
        div:last-child{
            display: flex;
            align-items: center;
            justify-content: space-between;
            a{
               
                
            }
        }
    }
    >div:first-child{
        width: 59%;
    }
    h1{
        font-size: 22px;
        color: rgb(250, 103, 49);
    }
    p{
        color: black;
        font-size: 18px;
    }
    div{
        margin-top: 65px;
        p{
            margin-top: 20px;
        }
    }
}
footer{
    margin-top: 100px;
}