$perple: rgb(125, 0, 179);
$red : rgb(177, 0, 0);




.writeText {
  width: 100%;
  height: 750px;
  background-color: antiquewhite;
  background-image: url(../../public/image/heroSection.avif);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  div {
    margin-top: 150px;
    margin-right: 150px;
  }
  h1 {
    font-size: 45px;
    color: $red;
  }
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  max-height: 390px;
  width: 15.81%;
  margin-bottom: 50px;
}

.swiper-pagination{
}
.products-animation {
  padding: 15px;
  display: flex;
  width: 100%;
  height: 500px;
}
.tabsBtn{
  display: flex;
  justify-content: space-between;
}
.bestBook {
  margin: 50px 0;
  font-size: 30px;
}
@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.best-authors {
  > div {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
  }
  > h1 {
    font-size: 40px;
    margin-top: 50px;
    text-align: center;
  }
}
.author {
  img {
    width: 130px;
    height: 130px;
    border: 2px solid $red;
    border-radius: 100%;
  }
  h1 {
    font-size: 28px;
    text-align: center;
  }
  border: 1px solid #b9b9b9;
  padding: 20px;
  margin-right: 13px;
  margin-bottom: 12px;
  width: 32%;
  background-color: #ffffff;
  height: 350px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.products {
  width: 98%;
  margin: 80px auto;
  >h1 {
    font-size: 25px;
    margin-bottom: 50px;
  }
  #notBook{
    margin-top: 90px;
  }
  #viewAll {
    background-color: #ebebeb;
    padding: 5px 10px;
    border-radius: 3px;
  }
  .active-tab {
    background-color: $red;
    color: #fff;
  }
  .tab-btn {
    cursor: pointer;
    font-size: 18px;
    padding: 3px 10px;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: 0.3s;
    &:hover {
      background-color: $red;
      color: #fff;
    }
  }
  > div {
    .books {
      * {
        margin: 0;
      }
    }
    div:first-child {
      display: inline-block;
    }
    display: flex;
  }
}
